<footer
  class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 my-5 border-top container justify-content-center text-center"
>

  <div class="col mb-3">
    <h4>Open Cosmos</h4>
    <p class="text-body-secondary">
      Building innovative AI and software solutions for the future.
    </p>
  </div>

  <div class="col mb-3">

    <h5>Navigation</h5>

    <ul class="nav flex-column">

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          Home
        </a>
      </li>

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          Jobs
        </a>
      </li>

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          About
        </a>
      </li>

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          Contact
        </a>
      </li>

    </ul>

  </div>

  <div class="col mb-3">

    <h5>Technologies</h5>

    <ul class="nav flex-column">

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          Python
        </a>
      </li>

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          Flask
        </a>
      </li>

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          Bootstrap
        </a>
      </li>

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          AI
        </a>
      </li>

    </ul>

  </div>

  <div class="col mb-3">

    <h5>Connect</h5>

    <ul class="nav flex-column">

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          LinkedIn
        </a>
      </li>

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          GitHub
        </a>
      </li>

      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          Twitter
        </a>
      </li>

    </ul>

  </div>

</footer>

<div class="container">
  <footer class="py-3 my-4 border-top">

    <p class="text-center text-body-secondary">
      © 2026 Open Cosmos. All rights reserved.
    </p>

  </footer>
</div>